In [2]:
import pandas as pd

In [3]:
# Creates a dataframe from the csv file, and displays the first 100 rows

In [4]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

FileNotFoundError: [Errno 2] No such file or directory: 'yellow_tripdata_2021-01.csv'

In [ ]:
df

In [ ]:
df

In [ ]:
# Generates and prints the SQL schema of the table we named "yellow_taxi_data" from the csv "yellow_tripdata_2021-01.csv". 
# Uses the "pd.io.sql.get_schema()" function to map the DataFrame's structure (column names and data types) to SQL equivalents, providing a
# blueprint to how the table would look in a PostgreSQL database.

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

In [ ]:
# Converts the tpep_pickup_datetime and tpep_dropoff_datetime columns from strings to Pandas datetime objects.

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# Imports 'create_engine' fxn from SQLAlchemy, which allows user to interact with the relational database in a Pythonic way

In [ ]:
# Run python programs against your database, execute queries, pool connections, define schemas, and write custom SQL expressions

In [11]:
from sqlalchemy import create_engine

In [12]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /Users/julianbuccat/Library/Python/3.9/lib/python/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
# Creates a connection engine to the PostgreSQL database. 'postgresql' is the dialect/database type (can replace w/ 'mysql', 'sqlite', or
#'mssql'). username:password@localhost:5432. 5432 is the port or area that the database "listens" for connections. 
# "ny_taxi" is the database name.

In [13]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [ ]:
# Verifies that the connection from host to database is successful

In [ ]:
try:
    with engine.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print(f"Connection failed: {e}")

In [ ]:
# The engine connection ensures that the SQL dialect is adapted to PostgreSQL. This is why the table shema has types
# that are Postgresql-compatible (compare to the database-agnostic schema generated from the same data frame above)

In [ ]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

In [ ]:
# New DataFrame 'df_iter' allows reading the CSV file in chunks of 100k rows.
# The first chunk is fetched with `next(df_iter)`.

In [ ]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [ ]:
df = next(df_iter)

In [ ]:
len(df)

In [ ]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# Writes df to create or replace the "yellow_taxi_data" table in the database via the engine connection

In [ ]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
len(df)

In [ ]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

In [ ]:
# to_sql() fxn seems to have a display or return value limitation of 1,000 rows when executed in Jupyter Notebook.

In [ ]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [ ]:
# After writing this smaller dataframe to the postgresql db, and running a COUNT query via Terminal, it returned 5000
# rows, which confirms that the to_sql() fnx does have some sort of display limitation. more than 1000 rows exist
# after writing a DataFrame with > 1000 rows of data.

In [ ]:
df_small = df.head(5000)  # Take only 5,000 rows
rows_written = df_small.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
print(rows_written)  # Should match the number of rows in `df_small`

In [ ]:
from time import time

In [ ]:
while True:

    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime) 

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

In [7]:
df_zones = pd.read_csv('data/taxi_zone_lookup.csv')

In [9]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [14]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265