In [20]:
import pandas as pd

In [ ]:
# Creates a dataframe from the csv file, and displays the first 100 rows

In [19]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [7]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [ ]:
# Generates and prints the SQL schema of the table we named "yellow_taxi_data" from the csv "yellow_tripdata_2021-01.csv". 
# Uses the "pd.io.sql.get_schema()" function to map the DataFrame's structure (column names and data types) to SQL equivalents, providing a
# blueprint to how the table would look in a PostgreSQL database.

In [6]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TEXT,
  "tpep_dropoff_datetime" TEXT,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [ ]:
# Converts the tpep_pickup_datetime and tpep_dropoff_datetime columns from strings to Pandas datetime objects.

In [7]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# Imports 'create_engine' fxn from SQLAlchemy, which allows user to interact with the relational database in a Pythonic way

In [ ]:
# Run python programs against your database, execute queries, pool connections, define schemas, and write custom SQL expressions

In [22]:
from sqlalchemy import create_engine

In [14]:
pip install psycopg2

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2 in /Users/julianbuccat/Library/Python/3.9/lib/python/site-packages (2.9.10)
Note: you may need to restart the kernel to use updated packages.

In [36]:
# Creates a connection engine to the PostgreSQL database. 'postgresql' is the dialect/database type (can replace w/ 'mysql', 'sqlite', or
#'mssql'). username:password@localhost:5432. 5432 is the port or area that the database "listens" for connections. 
# "ny_taxi" is the database name.

In [23]:
engine = create_engine('postgresql://postgres:postgres@localhost:5432/ny_taxi')

In [ ]:
# Verifies that the connection from host to database is successful

In [39]:
try:
    with engine.connect() as connection:
        print("Connection successful!")
except Exception as e:
    print(f"Connection failed: {e}")

Connection successful!

In [ ]:
# The engine connection ensures that the SQL dialect is adapted to PostgreSQL. This is why the table shema has types
# that are Postgresql-compatible (compare to the database-agnostic schema generated from the same data frame above)

In [40]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [ ]:
# New DataFrame 'df_iter' allows reading the CSV file in chunks of 100k rows.
# The first chunk is fetched with `next(df_iter)`.

In [28]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [29]:
df = next(df_iter)

In [30]:
len(df)

100000

In [31]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [ ]:
# Writes df to create or replace the "yellow_taxi_data" table in the database via the engine connection

In [43]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

1000

In [44]:
len(df)

100000

In [48]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [ ]:
# to_sql() fxn seems to have a display or return value limitation of 1,000 rows when executed in Jupyter Notebook.

In [50]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 2.84 s, sys: 133 ms, total: 2.98 s
Wall time: 4.95 s

1000

In [ ]:
# After writing this smaller dataframe to the postgresql db, and running a COUNT query via Terminal, it returned 5000
# rows, which confirms that the to_sql() fnx does have some sort of display limitation. more than 1000 rows exist
# after writing a DataFrame with > 1000 rows of data.

In [52]:
df_small = df.head(5000)  # Take only 5,000 rows
rows_written = df_small.to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')
print(rows_written)  # Should match the number of rows in `df_small`

1000

In [53]:
from time import time

In [55]:
while True:

    t_start = time()
    df = next(df_iter)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime) 
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime) 

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 4.847 second
inserted another chunk..., took 4.952 second
inserted another chunk..., took 5.211 second
inserted another chunk..., took 5.146 second
inserted another chunk..., took 5.119 second
inserted another chunk..., took 5.199 second
inserted another chunk..., took 5.271 second
inserted another chunk..., took 5.145 second
inserted another chunk..., took 5.225 second
inserted another chunk..., took 5.197 second

/var/folders/gj/lcdrv87s1hq2xqzmlh_kst6h0000gn/T/ipykernel_10288/2066690517.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk..., took 5.632 second
inserted another chunk..., took 3.417 second

StopIteration: